#close {
  opacity: 0.3;
  background-color: black;
}

#root {
  font-family: Amatic;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

.list {
  margin-bottom: 500px;
}

.spinner {
  opacity: 1;
}

.landing {
  height: 100vh;
}

.form {
  margin-bottom: 5%;
}

.table {
  margin-bottom: 5%;
}

.App {
  margin-top: 75px;
}

.drawer {
  max-width: 75%;
  width: 350px;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}
