#close {
  opacity: 0.3;
  background-color: black;
}

.landing {
  height: 100vh;
}

.App {
  margin-top: 75px;
}

.drawer {
  max-width: 75%;
  width: 350px;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}
